<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Please enter a valid Confirmpassword.</key>
	<string>कृपया एक वैध पुष्टि पासवर्ड दर्ज करें।</string>
	<key>Please Select Term &amp; Condition.</key>
	<string>कृपया टर्म एंड कंडीशन चुनें।</string>
	<key>Do not match password.</key>
	<string>पासवर्ड से मेल नहीं खाता।</string>
	<key>Please enter a valid password.</key>
	<string>कृपया एक मान्य पासवर्ड दर्ज करें।</string>
	<key>Please enter a valid Email.</key>
	<string>कृपया अपना मान्य ईमेल लिखें।</string>
	<key>Please enter a valid name.</key>
	<string>कृपया एक मान्य नाम दर्ज करें।</string>
	<key>Fetching data...</key>
	<string>डेटा लाया जा रहा है...</string>
	<key>Check your internet connection.</key>
	<string>अपना इंटरनेट संपर्क जांचे</string>
	<key>Data not Found.</key>
	<string>डेटा नहीं मिला</string>
	<key>Internet connected.</key>
	<string>इंटरनेट से जुड़ा</string>
	<key>Failed. Please try again.</key>
	<string>कृपया पुन: प्रयास करें</string>
	<key>Please wait...</key>
	<string>कृपया प्रतीक्षा करें...</string>
	<key>Forget password</key>
	<string>फोरगॉट पासवर्ड</string>
	<key>Choose Option</key>
	<string>चूस ऑप्शन</string>
	<key>Choose Language</key>
	<string>चूस लैंग्वेज</string>
	<key>Cancel</key>
	<string>कैंसल</string>
	<key>Hindi</key>
	<string>हिंदी</string>
	<key>English</key>
	<string>English</string>
	<key>Photo Library</key>
	<string>फोटो लाइब्रेरी</string>
	<key>Camera</key>
	<string>कैमरा</string>
	<key>Don&apos;t have a Account? SignUp</key>
	<string>खाता नहीं है? साइन अप करें</string>
	<key>Email</key>
	<string>ईमेल </string>
	<key>Submit</key>
	<string>सब्मिट </string>
	<key>Forget password?</key>
	<string>फोरगॉट पासवर्ड?</string>
	<key>UserName</key>
	<string>यूजरनाम </string>
	<key>Sign Up</key>
	<string>साइन अप</string>
	<key>Login</key>
	<string>लोगिन </string>
	<key>Terms &amp; Conditions</key>
	<string>टर्म्स &amp; कंडीशन्स </string>
	<key>Password</key>
	<string>पासवर्ड </string>
	<key>Confirm Password</key>
	<string>कन्फर्म पासवर्ड </string>
</dict>
</plist>
