<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Don&apos;t have a Account? SignUp</key>
	<string>खाता नहीं है? साइन अप करें</string>
	<key>Email</key>
	<string>ईमेल </string>
	<key>Submit</key>
	<string>सब्मिट </string>
	<key>Forget password?</key>
	<string>फोरगॉट पासवर्ड?</string>
	<key>UserName</key>
	<string>यूजरनाम </string>
	<key>Sign Up</key>
	<string>साइन अप</string>
	<key>Login</key>
	<string>लोगिन </string>
	<key>Terms &amp; Conditions</key>
	<string>टर्म्स &amp; कंडीशन्स </string>
	<key>Password</key>
	<string>पासवर्ड </string>
	<key>Confirm Password</key>
	<string>कन्फर्म पासवर्ड </string>
</dict>
</plist>
